
#main {
	width:930px;
	height:750px;
	margin: 0 auto;
	font-family: 'Open Sans Condensed', sans-serif;
	vertical-align: left; 
	float: right;
	padding: 30px;
	border:1px solid #3399CC;
	}

#form_main{
	text-align:center;
	border:1px solid #3399CC;
	width:450px;
	padding:0 100px 15px;
	margin-top:20px;
	box-shadow:0 0 15px;
	border-radius: 6px;
	float: center; 
	font-family: 'Open Sans Condensed', sans-serif;

}


h1 { 
	margin-top:40px
	}

hr {
	margin-top:-5px
}


label {
	float:left;
	font-size:16px
}

input[type="text"] {
	width:100%;
	margin-top:10px;
	height:35px;
	margin-bottom:25px;
	padding:10px;
	border: 3px solid #3399CC;
}


textarea{
	width:100%;
	border:3px solid #3399CC;
	padding:10px;
	margin-bottom:25px;
	margin-top:10px;
	height:100px;
	resize:none
}

input[type="submit"] {
	width:100%;
	padding:10px 45px;
	background-color:#3399CC;
	border:none;
	color:#fff;
	font-size:18px;
	font-weight:700;
	cursor:pointer;
	font-family: 'Open Sans Condensed', sans-serif;
}