

a {
	text-decoration: none;
	color: #0066FF;
	font-family: 'Poiret One';
	font-size: 20px
} 


/* unvisited link */
a:link {
	text-decoration: none;
    color: #0066FF;
}

/* visited link */
a:visited {
	text-decoration: none;
    color: #006699;
}

/* mouse over link */
a:hover {
	text-decoration: none;
    color: #006699;
}

/* selected link */
a:active {
	text-decoration: none;
    color: #3399CC;
}

body { 
        margin:0;
		padding:0;
		background: #000000;
		background-repeat:repeat-x;
		color: #000000
	}


#container {
	width: 900px;
	height: 100%; 
	margin: 0 auto; 
	padding: 30px; 
	background: #000000;
	color: #000000
} 

#header {
		width: 900px; 	
		height: 300px; 	
		margin: 0 auto; 
		padding: 0; 
		border: 0;
		background: #FFFFFF;
		font-family: 'Poiret One';
		font-size: 30px
	}  

#sidebar {
	width: 200px; 
	height: 1000px;
	margin: 0 auto; 
	padding: 0; 
	border: 0; 
	float: left; 
	background: #ffffff;
	font-family: 'Open Sans Condensed', sans-serif; 
	font-size: 14px;
	color: #00FFFF;
	
} 

#content {
	width: 700px; 
	height: 1000px ;	
	margin: 0 auto; 
	padding: 0; 
	border: 20px; 
	float: left; 
	background: #ffffff;
	font-family: 'Open Sans Condensed', sans-serif; 
}  


#content p {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px
} 

#footer {
	width: 895px;
	height: 70px; 
	margin: 0 auto; 
	border: 0; 
	padding: 3px; 
	color: #000000;
	clear:both;
	background: #006699;
	font-family: 'Poiret One';
} 









